/*
 * Printing stylesheet
 */

@media print {

    @page
    {
        margin: 0.3in;
        font-size: 15px !important;
    }

    #side-menu, #footer {
        display: none;
    }

    a[href]:after{content: none !important}
    abbr[title]:after{content:none !important}
    a[href^="javascript:"]:after,a[href^="#"]:after{content:none !important}
    blockquote,pre{display: none !important}
    .label{all:initial;font-size: 90% !important;}
    .table-bordered td,.table-bordered th{border:1px solid #000 !important}
    .panel {border:0px !important}

    /* ====================  Tables  ==================== */

    /*thead{display:table-header-group}*/
    /*tr,th{
        page-break-inside: avoid !important;
        page-break-after: auto !important;
        page-break-before: auto !important;
    }
    td{
        page-break-inside: avoid !important;
    }*/

    table.tripsReportTable tr {

        font-size: 90%;
    }

    /*.page-break {
        page-break-inside: avoid !important;
        page-break-after:always;
        page-break-before:always;
        display:inline-block;
    }*/
}


/* ====================  Bootstrap CSS =================================

/* @media print{
    *,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important}
    a,a:visited{text-decoration:underline}
    a[href]:after{content:" (" attr(href) ")"}
    abbr[title]:after{content:" (" attr(title) ")"}a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
    blockquote,pre{border:1px solid #999;page-break-inside:avoid}
    thead{display:table-header-group}
    img,tr{page-break-inside:avoid}
    img{max-width:100%!important}
    h2,h3,p{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}
    .navbar{display:none}
    .btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important}
    .label{border:1px solid #000}
    .table{border-collapse:collapse!important}
    .table td,.table th{background-color:#fff!important}
    .table-bordered td,.table-bordered th{border:1px solid #ddd!important}
}*/


